@charset "UTF-8";
html, body{
	height:100vh;
	 margin: 0px;
}

header{
	min-height: 15vh;
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

header h2{
	margin: 0px;
}

nav{
	min-height: 5vh;
	background-color: skyblue;
	display: flex;
	align-items: center;
}

nav ul{
	margin: 0px;
}
nav ul li{
	list-style: none;
	float: left;
	margin-left: 10px;
}

nav ul li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}

footer{
	min-height: 8vh;
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

footer h4{
	margin: 0px;
}

section{
	height: 75%;
}
section h1{
	text-align: center;
}